@import "tailwindcss";

@theme {
  --color-background: #080808;
  --color-card-bg: #121212;
  --color-accent-green: #A3E635;
  --color-accent-orange: #F97316;
  --font-inter: "Inter", "system-ui", "-apple-system", "sans-serif";
}

:root {
  --background: #080808;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for dashboard feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}